<style type="text/css" media="screen">

.front-page-1 #text-3 .widget-wrap {
	border-radius: 5px;
	border:2px solid #fff;
	color:#000;
	padding:10px;
}
.front-page-1 #text-3 .widget-wrap p {
	margin:0 0 10px 0;
}
.front-page-1 #text-3 .widget-wrap input[type=text],
.front-page-1 #text-3 .widget-wrap input[type=email],
.front-page-1 #text-3 .widget-wrap input[type=tel]  {
	padding:2px 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}

.image-section h4 {
  color: #fff;
}

.image-section input[type="submit"] {
background-color: transparent;
border: 2px solid #fff;
}

.image-section .widget-area h2,
.image-section .widget-area {
  font-weight: 400;
}

.genesis-nav-menu a {
  font-weight: 400;
}
</style>